div#goal.page
    div.row.center
        div.complete 恭喜完賽
    div.row
        div.label 您願意給予本系統改善的建議嗎?邀請您填寫本間卷(填寫約3分鐘)
    div.row
        button#goSurveycake.BPBtn.large.blue 前往問卷
    div.row
        div.label 完成問卷將贈送小禮物!請持「問卷完成頁面」至xxx兌換