div#riderMap.page
    div.timePanel
        div.rName 張家豪選手 
        div.timer
            label 騎乘時間
            div#RideTime 0:45  
        div.timer
            label 騎乘距離  
            div#RideDistance 0:45  
 
        div.mainMap
        div.bump 陡坡
        div.attractions 景點
        div.parteners 隊友資訊

