div#riderMap.page
    div.container
        div.infoPanel
            div.rName 
                div Hi!
                    span#riderNumber  88888
                    | 號
                div
                    span#riderName 張家家豪
                    |  選手 
            div.rTime
                label 騎乘時間
                div#RideTime 0:45  
            div.rDistance
                label 騎乘距離  
                div#RideDistance 9999.99  
    
        div.mainMap 
            div#mapRenderer.mMap 
                div#AttractionsBox
                img#biker(src="./img/biker.svg")        
            div#sideMap.sMap
                div.marker
            div.testTool 測試工具
                button#prevStep ←
                span 第
                span#currentStep
                span 步
                button#nextStep →
                
                button#zoomIn +
                button#zoomOut -


                
        div#bumpPanel.bump
            div.message(style="display:none") 測試文字

        
        div#attrPanel.attractions 
            div.photoBox
                img
            div.introBox
                span 
            div.nameBox
        div.parteners 
            div.title 隊友資訊
            div.partenerList
                - var n = 0;
                
                while n < 8
                    - n++
                    div.partenerBox
                        div.psn 66666
                        div.pName 王李大明
                        div.pDistance 超前約
                            span 9999
                            | m


