div#suggest.page
    div.row
        label 建議您的騎乘指導方案
        div
            input(value="wade")
            button 教練帶我輕鬆騎
    div.row
        label 您也可以更改其他方案喔
        div
            button 教練訓練我騎車
            button 教練訓練我騎車
    div.row
        label 我追蹤的隊友
        div#myRunnerList
    div.row
        button.GObtn GO!