div#user.page
    div.row
        label 我的參賽編號
        div
            input(value="wade")
    div.row
        label 我的暱稱
        div
            input(value="wade")
    div.row
        label 報名路線
        div
            select#route(name="route")
                option(value="30") 30公里組
    div.row
        label 是否有規律地騎車習慣？
        div
            input(value="wade") 
    div.row
        label 每周累計運動時間？
        div
            input(value="wade") 
    div.row
        label 這次想體驗甚麼騎乘感受？
        div
            input(value="wade") 
    div.row
        label 我想追蹤隊友騎乘的位置？
        div
            input(value="wade") 
    div.row
        button.pageBtn(data-id="suggest") 送出表單
         