doctype html
html
    include ./comps/header.pug
    body 
        div.app 
            header.nav
                img.logo(src="./img/logo.png")
            include ./comps/user.pug
            include ./comps/suggest.pug
            include ./comps/riderMap.pug
            include ./comps/goal.pug
