doctype html
html
    include ./comps/header.pug
    body 
        div.app 
            header.nav
            include ./comps/user.pug
            div#suggest.page(style="display: none;") suggest
            div#riderMap.page(style="display: none;") riderMap
            div#goal.page(style="display: none;") goal

            button.pageBtn(data-id="user") user 
            button.pageBtn(data-id="suggest") suggest
            button.pageBtn(data-id="riderMap") riderMap
            button.pageBtn(data-id="goal") goal
