doctype html
html
    include ./comps/header.pug
    body 
        div.app 
            header.nav
            include ./comps/user.pug
            div#suggest.page(style="display: none;") suggest
            div#riderMap.page(style="display: none;") riderMap
            div#goal.page(style="display: none;") goal

