
$headerHeight: 80px
$headBGpath: '../img/KV.png'
$pagePadding: 20px
$mainColor:#235288

$AppMaxWidth:414px
$AppMaxHeight:896px

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap')

@mixin flexBox($row, $col)
    display: flex
    justify-content: $row
    align-items: $col


body,html
    margin: 0px
    padding: 0px
    height: 100%
    font-family: Noto Serif TC, serif
    font-family: "Noto Serif TC", serif
body
    .app      
        height: 100%
        //max-height: 1180px
        max-height: $AppMaxHeight

        margin: 0 auto
        @include flexBox(start, center)
        flex-direction: column
        //元件
        #runnerBoxTool
            @include flexBox(start, center)
            #addRunner
                background: none
                border: none
                font-size: 2em
                color:$mainColor

        .complete
            font-size: 4em
            font-weight: bolder
            color:#f30
            margin: 16px auto
            
        .BPBtn    
            width: 100%
            border: none
            margin-bottom: 8px
            font-size: 1em
            &.large
                padding: 6px 
                font-size: 1.6em
                border-radius: 30px
            &.blue
                color: #fff
                background-color: $mainColor
            &.dGreen
                color: #fff
                background-color: #20522c
            &.lGreen
                color: #fff
                background-color: #6da381
            &.GO                
                @include flexBox(center, center)
                flex-direction: column
                color: #f30
                font-size: 2.8em
                font-weight: bolder
                //line-height: .6em
                background-color: #ffa906
                border-radius: 50%
                width: 180px
                height: 180px
                border:4px solid #fff
                span
                    color: #fff
                    font-size: 48px
                &:active                    
                    background-color: #ffdd9f

        .rideType.on
            box-shadow: 0 0 2px 4px #fff
            background-color: #6da381
            z-index: 10
            //border: 6px solid #fc0 
                        



        #runnerBox, #myRunnerList
            @include flexBox(start, center)
            flex-wrap: wrap

        .memberLabel
            background-color: #fff
            border-radius: 16px
            padding:4px 12px
            margin: 4px
            font-size: 1.2em

        header
            width: 100%
            //background-image: url($headBGpath)
            //background-position: center center
            //background-size: 100%
            //background-repeat: no-repeat
            background-color:#effbff
            height: $headerHeight
            //max-width: 1000px
            max-width: $AppMaxWidth
            @include flexBox(center, center)
            .logo
                width: 90px
        &.full
            header
                display: none

        .page
            $_HP: $headerHeight + $pagePadding
            padding: 20px
           

            width: calc( $AppMaxWidth - $pagePadding*2)
            max-width: $AppMaxWidth
            
            height: calc( 100% - $_HP )
            //@media screen and ( max-width:414px  )
                
            background-color: #bfe7f1
            background-image: url('../img/bg.jpg')
            background-position: center bottom
            background-repeat: no-repeat
            background-size: 200%
            //overflow-y: scroll
            overflow-y: auto

            .row
                margin-bottom: 16px 
                
                &.center   
                    @include flexBox(center, center)
                
                .oftenRadios
                    font-size:1.2em
                    @include flexBox(space-around, center)
                    div
                        @include flexBox(center, center)

                        input[type="radio"] 
                            -webkit-appearance: none
                            appearance: none
                            background-color: #fff
                            margin: 0 8px
                            font: inherit
                            color: $mainColor
                            width: 1.15em
                            height: 1.15em
                            border: 0.15em solid #fff
                            border-radius: 50%
                            transform: translateY(-0.075em)
                            display: grid
                            place-content: center


                        input[type="radio"]::before 
                            content: ""
                            width: 0.65em
                            height: 0.65em
                            border-radius: 50%
                            transform: scale(0)
                            transition: 120ms transform ease-in-out
                            box-shadow: inset 1em 1em var(--form-control-color)
                            /* Windows High Contrast Mode */
                            background-color: $mainColor

                        input[type="radio"]:checked::before 
                            transform: scale(1)

                        input[type="radio"]:focus 
                            outline: max(2px, 0.15em) solid $mainColor
                            outline-offset: max(2px, 0.15em)
                    
                .label
                    color:$mainColor
                    font-size:1.2em
                    font-weight: bolder
                    margin-bottom: 8px 
                    
                input, select
                    font-size:1.2em

                input, select
                    padding: 4px 8px
                    border: none
                    border-radius: 4px
                    &.full
                        width: calc(100% - 16px)

                select:checked
                   color: gray
                   
                select
                    &.full
                        width: 100%

            //riderMap
        #riderMap
            padding: 0
            width: 100%
            //height: calc(100% - $headerHeight)    
            height: 100%
            .container
                height: 100%
                @include flexBox(flex-start, flex-start)
                flex-direction: column
                position: relative
                overflow: hidden
                
                .infoPanel
                    flex:0 0 auto
                    @include flexBox(space-around, center)
                    color:#fff
                    background-color: $mainColor
                    width: calc(100% - 32px)
                    padding:4px 16px
                    .rName
                        @include flexBox(flex-end, flex-start)
                        flex-direction: column
                        font-size: 1.2em
                    .rTime, .rDistance
                        text-align: center
                        font-size:1.2em
                      
                        #RideTime, #RideDistance
                            font-weight: 700
                            width: 100px
                            font-size:30px
                            padding:4px 8px
                            margin: 4px 0
                            border-radius: 8px
                            color:#333
                            background-color: #fff
                    
                .mainMap
                    //$boxHeight:420px
                    $boxHeight:720px 
                    width: 100%
                    flex:1 1 auto
                    //max-height: $boxHeight
                    //flex:0 0 400px
                    background-color: #ffc
                    position: relative                    
                    @include flexBox(center, center)
                    overflow: hidden
                    .mMap
                        //width: 100%
                        //height: 100% 
                        width: 960px
                        height: $boxHeight
                        background-repeat: no-repeat
                        background-position: center center 
                        background-size: cover
                        position: relative
                        #AttractionsBox
                            //width: 960px
                            height: $boxHeight
                            .point 
                                width: 30px
                                height: 60px
                                position: absolute

                    .sMap                        
                        width: 120px
                        height: 60px
                        background-size: 101%
                        background-repeat: no-repeat
                        background-position: center center     
                        position: absolute
                        top: 4px
                        right: 4px
                        box-shadow: 3px 3px 3px  rgba(0, 0, 0, .3)
                        border: 1px solid #fff
                    .testTool
                        background-color: #fff
                        position: absolute
                        bottom: 4px
                        left: 4px

                .attractions, .bump
                    @include flexBox(center, flex-start)
                    background-color: #FFF

                .bump
                    background-repeat: no-repeat
                    background-position: left bottom
                    background-color: #fafdfb
                    position: relative
                    width: 100%
                    flex:0 0 100px
                    //height: 180px
                    .message
                        position: absolute
                        background-color: #fff
                        width: 150px
                        height: 42px
                        padding: 8px
                        border: 3px solid #fa0
                        border-radius: 8px
                        top: 10px
                        left: 110px
                        &::before, &::after
                            content: ' '
                            position: absolute
                            width: 0
                            height: 0
                            right: auto
                            bottom: auto
                        &::before
                            top: 18px
                            left: -24px
                            border: 12px solid #fa0
                            border-color: transparent #fa0 #fa0 transparent 
                        &::after             
                            top: 21px
                            left: -15px            
                            border: 9px solid #fff
                            border-color: transparent #fff #fff transparent 
                        
                    //線段-先不要畫
                    /*     
                        &::after
                            content: " "
                            position: absolute
                            left: 50px
                            width: 2px
                            height: 115px
                            background-color: #f00
                    
                        
                    
                .attractions
                    @keyframes attrFadeIn
                        0%
                            bottom: -180px
                        100%
                            bottom: 100px
                    @keyframes attrFadeOut
                        0%
                            bottom: 100px
                        100%
                            bottom: -180px
                            display: none
                    display: none
                    transition: .4s
                    animation-duration: .4s
                    animation-fill-mode: forwards 
                    position: absolute
                    &.on
                        display: flex
                        animation-name: attrFadeIn
                    &.off
                        display: flex
                        animation-name: attrFadeOut
                   
                            
                    padding:16px
                    width: calc(100% - 32px)
                    max-height: 180px
                    //height: calc(180px - 32px)
                    flex:0 1 calc(180px - 32px)
                    flex-wrap: wrap
                    //flex:0 0 calc(20% - 32px)
                    //flex:0 0 150px
                    .photoBox
                        flex:0 0 40%
                        img
                            width: 100%
                    .introBox
                        padding: 0 8px
                        flex:0 0 calc(60% - 16px)
                        display: -webkit-box
                        -webkit-box-orient: vertical
                        -webkit-line-clamp:5
                        overflow: hidden
                    .nameBox
                        color:$mainColor
                        font-weight: 600
                        font-size: 24px
                        flex:0 0 100%

                .parteners
                    //flex: 0 0 calc(15% - 16px)
                    z-index: 100
                    flex: 0 0 calc(100px - 16px)
                    width: calc(100% - 32px)
                    padding: 8px 16px
                    background-color: #333
                    .title
                        color:#fff
                        font-size: 1.2em
                        font-weight: bolder
                    .partenerList

                        height: 100%
                        max-height: 60px                           
                            
                        overflow-y: auto
                        .partenerBox
                            color:$mainColor
                            background-color: #fff
                            padding:4px
                            margin-bottom: 4px
                            border-radius: 32px
                            font-weight: bolder                            
                            @include flexBox(space-around, flex-start)
                
