
$headerHeight: 80px
$headBGpath: '../img/KV.png'
$pagePadding: 20px

@mixin flexBox($row, $col)
    justify-self: $row
    align-items: $col
    display: flex


body,html
    margin: 0px
    padding: 0px
    height: 100%
body
    background-color: #aaa
    .app
        height: 100%
        margin: 0 auto
        @include flexBox(start, center)
        flex-direction: column

        header
            width: 100%
            background-image: url($headBGpath)
            background-position: center center
            background-size: 100%
            background-repeat: no-repeat
            height: $headerHeight
            display: flex
            @include flexBox(center, center)
            max-width: 1000px
        .page
            $_HP: $headerHeight + $pagePadding
            padding: 20px
            width: calc( 100% - $pagePadding*2)
            height: calc( 100% - $_HP )
            max-width: calc(1000px - 40px)
            background-color: #bfe7f1

            .row
                .label
                    color:#235288
                    font-size:1.2em
                    font-weight: bolder
                    margin-bottom: 4px 
                input
                    font-size:1.2em
                    margin-bottom: 12px 
                    border: none
                    &.full
                        width: 100%
                select
                    &.full
                        width: 100%
                
